@model StaffRegistration.Models.AddStaffViewModel
@{

}
 <h1>Add the staff</h1>
<form method="post" action="Add">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" placeholder="Enter your full name" asp-for="Name" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" placeholder="Enter email" asp-for="Email"  />
  </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
    <input type="text" class="form-control"  placeholder="Enter your address" asp-for="Address" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Contact Number</label>
    <input type="text" class="form-control"  placeholder="Enter your contact number" asp-for="ContactNumber" />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Date of Birth</label>
    <input type="date" class="form-control" asp-for="DateOfBirth"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
